#app {
	height: 100%;
}
html,
body {
	position: relative;
	height: 100%;
}

body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Default bullet style */
.swiper-pagination-bullet {
	width: 10px; /* Default width */
	height: 10px; /* Default height */
	background: #14e511; /* Default color */
	transition: width 0.3s, height 0.3s; /* Smooth transition */
	border-radius: 50%; /* Round bullets */
	margin: 3px; /* Center align the bullets */
}

/* Active bullet style */
.swiper-pagination-bullet-active {
	width: 16px; /* Active width */
	height: 4px; /* Active height */
	background: #14e511; /* Active color */
	border-radius: 5px; /* Rounded corners for the active bullet */
	margin: 6px 0; /* Center align the active bullet */
}

/* Additional active style class */
.swiper-pagination-bullet-active-main {
	width: 64px; /* Main active width */
	height: 8px; /* Main active height */
	background: #14e511; /* Main active color */
	border-radius: 5px; /* Rounded corners for the main active bullet */
	margin: 6px 0; /* Center align the main active bullet */
}

.swiper-horizontal
	> .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
	width: 11% !important;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
	transform: scale(0.66);
	opacity: unset;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
	transform: scale(0.66);
	opacity: unset;
	/* height: fit-content; */
}
